{% load static %}
<div class="p-3 shadow-sm border border-light mb-4">
    {% comment %}<h4 class="fw-light text-title-rsps">Партнеры и спонсоры</h4>{% endcomment %}
    <div class="anchor" id="block_06"></div>
    <h4 class="fw-light text-title-rsps">Спикеры
        <hr class="line-title">
    </h4>
    <div class="owl-carousel owl-carousel-spikers owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                {% if speakers %}

                    {% for speaker in speakers %}

                    <div class="owl-item">
                        <div class="card align-items-bottom">
                            <img src="{{ speaker.photo.large.url }}" class="card-img-top img-fluid" alt="Photo">
                            <div class="card-body">
                                <h5 class="card-title">{{ speaker.fio }}</h5>
                                <p class="card-text text-secondary">{{ speaker.bio }}</p>
                            </div>
                        </div>
                        {% comment %} <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="..."> {% endcomment %}
                    </div>

                {% endfor %}
                {% else %}
                <div class="owl-item">
                    <div class="card">
                        <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Photo">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="card">
                        <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Photo">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>