footer {
    background-color: rgba(42, 12, 103, 1);
    border-top: 1px solid #889403;
    .nav {
        border-bottom: 1px solid #633cb3;
    }
    .nav-link {
        color: #A9B0C3;

        &:hover {
            color: #fff;
        }

        @media (max-width: 767px) {
            font-size: 0.9rem;
        }
    }
}