.navbar-main {
    background-color: rgba(42, 12, 103, 1);
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #889403;

    .contacts {
        // @media (max-width: 767px) {
        //     width: 100%;
        //     border: none;
        //     background-color: transparent;
        //     box-shadow: none;
        //     padding: 0;
        // }
        @media (max-width: 991px) {
            font-size: 0.9rem;
        }
        @media (max-width: 360px) {
            font-size: 0.8rem;
        }

        a {
            color: #fff !important;
            margin-bottom: 0.25rem;
            text-decoration: none;

            &:hover {
                transition: 0.3s;
                color: #A9B0C3;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // .navbar-brand {
    //     color: #fff;

    //     &:hover {
    //         transition: 0.3s;
    //         color: #A9B0C3;
    //     }

    // }

    .navbar-toggler {
        padding: 0;
        margin-top: 0.9rem;
        margin-bottom: 0.9rem;
        // background-color: #014974;
        // border-color: #fff;
        border: none;

        i {
            color: #fff;
            font-size: 1.5rem;
        }
        &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {

        .nav-link {
            padding: 1rem;
            color: #A9B0C3;

            &:hover {
                transition: 0.3s;
                background-color: rgba(99, 60, 179, 1);
                color: #fff;

                @media (max-width: 991px) {
                    background-color: rgba(247, 160, 20, 0.3);
                }
            }
            // &:focus {
            //     color: #fff;
            // }
            @media (max-width: 991px) {
                color: #fff;
            }
        }

        .nav-link.active {
            font-weight: bold;
            color: #fff;

            @media (max-width: 991px) {
                color: #fff;
            }
        }

        .nav-link-enter {
            font-size: 1.7rem;
            padding: 0.5rem 1rem;

            @media (max-width: 991px) {
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }
}
.nav-link:focus {
    color: #fff;
}
.offcanvas-main {
    .offcanvas-header {
        background-color: #633CB3;
        color: #fff;
        padding: 0.75rem 1rem;
    }

    .offcanvas-body {
        @media (max-width: 1199px) {
            background-color: #795CB3;
        }
    }
}