.vertical-menu {
    z-index: 2;

    @media (max-width: 991px) {
        background-color: $purple-light;
        position: sticky;
        top: 0;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }

    .nav-right-main {
        position: sticky;
        top: 0;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;

        @media (max-width: 991px) {
            padding-top: 0.5rem;
        }

        .nav-link {
            background-color: $purple-light;
            // background: -webkit-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            // background: -moz-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            // background: -o-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            // background: -ms-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            // background: linear-gradient(227deg, #0066cc 28%, #0356a8 72%);
            padding: 1rem;
            color: #A9B0C3;
            margin-bottom: 0.5rem;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

            @media (max-width: 991px) {
                background: rgba(1, 63, 115, 1);
                padding: 0.5rem;
                margin-bottom: 0;
                box-shadow: none;
            }

            &:hover {
                box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
                -o-transform: translateX(10px);
                -ms-transform: translateX(10px);
                -moz-transform: translateX(10px);
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
                background-color: rgba(35, 89, 133, 1);
                color: #fff;

                @media (max-width: 991px) {
                    transform: none;
                    box-shadow: none;
                }
            }
        }

        .nav-link.active {
            font-weight: bold;
            color: #fff;

            &:hover {
                transform: none;
                background-color: rgba(35, 89, 133, 1);
            }
        }
    }
}