.btn-reg {
    position: absolute;
    bottom: 10%;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.anchor {
    display:block;
    height: 90px;
    margin-top:-90px;
    visibility:hidden;
}