// ======== Variables =============
$primary: #2A0C67 !important;
$purple-light: rgba(99, 60, 179, 1) !important;
$ronktd-color: #2A0C67 !important;
$ronktd-hover: #633cb3 !important;
// $primary-hover: #1C516E !important;
// $warning: #E8A900 !important;
// $danger: #E83400 !important;
// $danger-hover: #F3663D !important;
// ======== end Variables ==========

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;

    header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 0 auto;
    }

    footer {
        flex: 0 0 auto;
    }

}

a {
    text-decoration: none !important;
}

.text-sm {
    font-size: 0.9rem !important;
}

.text-xs {
    font-size: 0.8rem !important;
}

.text-purple {
    color: #2A0C67;
}

.border-purple {
    border-color: #2A0C67 !important;
}

.border-purple-light {
    border-color: #633cb3 !important;
}
.btn-outline-primary {
    color: #2A0C67;
    border-color: $primary;
    &:hover {
        background-color: $primary;
        color: #fff;
    }
}
.alert-purple {
    color: #2A0C67;
    background-color: rgba(99, 60, 179, 0.1);
    border-color: rgba(99, 60, 179, 0.5);
}
// ======== IMPORT =============
@import "media";
@import "menu";
@import "header";
@import "main";
@import "footer";
// ======== end import ==========

