// ======== Variables =============
// $primary: #006093 !important;
// $primary-hover: #1C516E !important;
// $warning: #E8A900 !important;
// $danger: #E83400 !important;
// $danger-hover: #F3663D !important;
$ronktd-color: #2A0C67;
$ronktd-hover: #633cb3;
// ======== end Variables ==========

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;

    header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 0 auto;
    }

    footer {
        flex: 0 0 auto;
    }

}
.text-sm {
    font-size: 0.9rem !important;
}
.text-xs {
    font-size: 0.8rem !important;
}
.text-purple {
    color: #2A0C67;
}
.border-purple {
    border-color: #2A0C67 !important;
}
.border-purple-light {
    border-color: #633cb3 !important;
}
// ======== IMPORT =============
@import "media";
@import "menu";
@import "header";
@import "main";
@import "footer";
// ======== end import ==========
