html,
body {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important; }
  .wrapper header {
    flex: 0 0 auto; }
  .wrapper main {
    flex: 1 0 auto; }
  .wrapper footer {
    flex: 0 0 auto; }

a {
  text-decoration: none !important; }

.text-sm {
  font-size: 0.9rem !important; }

.text-xs {
  font-size: 0.8rem !important; }

.text-purple {
  color: #2A0C67; }

.border-purple {
  border-color: #2A0C67 !important; }

.border-purple-light {
  border-color: #633cb3 !important; }

.btn-primary {
  background-color: #2A0C67 !important;
  border-color: #2A0C67 !important; }
  .btn-primary:hover {
    background-color: #633cb3 !important; }

.btn-outline-primary {
  color: #2A0C67;
  border-color: #2A0C67 !important; }
  .btn-outline-primary:hover {
    background-color: #2A0C67 !important;
    color: #fff !important; }

.alert-purple {
  color: #2A0C67;
  background-color: rgba(99, 60, 179, 0.1);
  border-color: rgba(99, 60, 179, 0.5); }

@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important; }
  .w-sm-75 {
    width: 75% !important; }
  .w-sm-50 {
    width: 50% !important; }
  .w-sm-25 {
    width: 25% !important; } }

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important; }
  .w-md-75 {
    width: 75% !important; }
  .w-md-50 {
    width: 50% !important; }
  .w-md-25 {
    width: 25% !important; } }

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important; }
  .w-lg-75 {
    width: 75% !important; }
  .w-lg-50 {
    width: 50% !important; }
  .w-lg-25 {
    width: 25% !important; } }

@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important; }
  .w-xl-75 {
    width: 75% !important; }
  .w-xl-50 {
    width: 50% !important; }
  .w-xl-25 {
    width: 25% !important; } }

@media (min-width: 1400px) {
  .w-xxl-100 {
    width: 100% !important; }
  .w-xxl-75 {
    width: 75% !important; }
  .w-xxl-50 {
    width: 50% !important; }
  .w-xxl-25 {
    width: 25% !important; } }

.navbar-main {
  background-color: #2a0c67;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #889403; }
  @media (max-width: 991px) {
    .navbar-main .contacts {
      font-size: 0.9rem; } }
  @media (max-width: 360px) {
    .navbar-main .contacts {
      font-size: 0.8rem; } }
  .navbar-main .contacts a {
    color: #fff !important;
    margin-bottom: 0.25rem;
    text-decoration: none; }
    .navbar-main .contacts a:hover {
      transition: 0.3s;
      color: #A9B0C3; }
    .navbar-main .contacts a:last-child {
      margin-bottom: 0; }
  .navbar-main .navbar-toggler {
    padding: 0;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    border: none; }
    .navbar-main .navbar-toggler i {
      color: #fff;
      font-size: 1.5rem; }
    .navbar-main .navbar-toggler:focus {
      box-shadow: none; }
  .navbar-main .navbar-nav .nav-link {
    padding: 1rem;
    color: #A9B0C3; }
    .navbar-main .navbar-nav .nav-link:hover {
      transition: 0.3s;
      background-color: #633cb3;
      color: #fff; }
      @media (max-width: 991px) {
        .navbar-main .navbar-nav .nav-link:hover {
          background-color: rgba(247, 160, 20, 0.3); } }
    @media (max-width: 991px) {
      .navbar-main .navbar-nav .nav-link {
        color: #fff; } }
  .navbar-main .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #fff; }
    @media (max-width: 991px) {
      .navbar-main .navbar-nav .nav-link.active {
        color: #fff; } }
  .navbar-main .navbar-nav .nav-link-enter {
    font-size: 1.7rem;
    padding: 0.5rem 1rem; }
    @media (max-width: 991px) {
      .navbar-main .navbar-nav .nav-link-enter {
        font-size: 1rem;
        padding: 1rem; } }
.nav-link:focus {
  color: #fff; }

.offcanvas-main .offcanvas-header {
  background-color: #633CB3;
  color: #fff;
  padding: 0.75rem 1rem; }

@media (max-width: 1199px) {
  .offcanvas-main .offcanvas-body {
    background-color: #795CB3; } }

header {
  background-color: #fff;
  border-bottom: 1px solid #889403; }

.header-main .profile-info {
  color: #A9B0C3; }
  .header-main .profile-info a {
    color: #fff;
    text-decoration: none; }
    .header-main .profile-info a:hover {
      transition: 0.3s;
      color: #A9B0C3; }
  @media (max-width: 767px) {
    .header-main .profile-info {
      text-align: center;
      padding: 0.5rem 0;
      border-top: 1px solid #f7a014;
      border-bottom: 1px solid #f7a014; } }
  @media (max-width: 991px) {
    .header-main .profile-info {
      font-size: 0.9rem; } }
.header-main .contacts a {
  color: #2A0C67;
  margin-bottom: 0.25rem;
  text-decoration: none; }
  .header-main .contacts a:hover {
    transition: 0.3s;
    color: #633cb3; }
  .header-main .contacts a:last-child {
    margin-bottom: 0; }

.header-main .line-head {
  height: 0;
  border-bottom: 1px solid #2A0C67 !important;
  opacity: 1;
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

main {
  background-image: url(../img/bg-content.png);
  background-position: center bottom;
  background-repeat: no-repeat; }
  main .line-title {
    border-bottom: 2px solid #633cb3 !important;
    width: 150px; }
  main .vertical-menu {
    z-index: 2; }
    @media (max-width: 991px) {
      main .vertical-menu {
        background-color: #633cb3 !important;
        position: sticky;
        top: 0;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); } }
    main .vertical-menu .nav-right-main {
      position: sticky;
      top: 0;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem; }
      @media (max-width: 991px) {
        main .vertical-menu .nav-right-main {
          padding-top: 0.5rem; } }
      main .vertical-menu .nav-right-main .nav-link {
        background-color: #633cb3 !important;
        padding: 1rem;
        color: #A9B0C3;
        margin-bottom: 0.5rem;
        -o-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
        @media (max-width: 991px) {
          main .vertical-menu .nav-right-main .nav-link {
            background: #013f73;
            padding: 0.5rem;
            margin-bottom: 0;
            box-shadow: none; } }
        main .vertical-menu .nav-right-main .nav-link:hover {
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          -o-transform: translateX(10px);
          -ms-transform: translateX(10px);
          -moz-transform: translateX(10px);
          -webkit-transform: translateX(10px);
          transform: translateX(10px);
          background-color: #235985;
          color: #fff; }
          @media (max-width: 991px) {
            main .vertical-menu .nav-right-main .nav-link:hover {
              transform: none;
              box-shadow: none; } }
      main .vertical-menu .nav-right-main .nav-link.active {
        font-weight: bold;
        color: #fff; }
        main .vertical-menu .nav-right-main .nav-link.active:hover {
          transform: none;
          background-color: #235985; }
  main .owl-carousel .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px; }
    main .owl-carousel .owl-item img {
      width: auto;
      max-width: 100%; }
  main .owl-carousel .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
    main .owl-carousel .owl-nav .disabled {
      background-color: transparent;
      pointer-events: none;
      opacity: .5; }
  main .owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 1rem; }
    main .owl-carousel .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1.3; }
      main .owl-carousel .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: transparent;
        border: 1px solid #2A0C67 !important;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px; }
    main .owl-carousel .owl-dots .owl-dot.active span {
      background: #2A0C67 !important;
      border: 1px solid #2A0C67 !important; }
    main .owl-carousel .owl-dots .owl-dot:hover span {
      background: #633cb3 !important;
      border: 1px solid #633cb3 !important; }
  main .carousel {
    color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5; }
    main .carousel .carousel__slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 160px;
      margin-right: 0.5rem;
      overflow: hidden;
      background-color: rgba(99, 60, 179, 0.1);
      padding: 0; }
      main .carousel .carousel__slide img {
        width: 100%; }
  main .carousel-news .carousel__slide {
    height: 300px; }
    @media (max-width: 767px) {
      main .carousel-news .carousel__slide {
        height: 200px; } }
  main .carousel-gallery .carousel__slide {
    width: 100%;
    height: 400px; }
  main .carousel-main .carousel__slide {
    width: 100%;
    height: 600px;
    background-color: #2a0c67; }
    @media (max-width: 767px) {
      main .carousel-main .carousel__slide {
        display: block;
        height: auto; } }
    main .carousel-main .carousel__slide img {
      opacity: 0.9;
      text-align: center; }
    main .carousel-main .carousel__slide .carousel-text {
      color: white;
      background-color: rgba(42, 12, 103, 0.7);
      width: 75%;
      position: absolute;
      bottom: 0;
      left: 0; }
      @media (max-width: 767px) {
        main .carousel-main .carousel__slide .carousel-text {
          width: 100%;
          position: static; } }
  main #thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 96px;
    height: 64px; }
  main #thumbCarousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; }
  main #thumbCarousel .carousel__slide.is-nav-selected {
    opacity: 1; }
  main .accordion-main .accordion-button {
    font-size: 1.3rem; }
  main .accordion-main .accordion-button:not(.collapsed) {
    color: #2A0C67 !important;
    background-color: rgba(99, 60, 179, 0.3); }
  main .pagination-main .page-link {
    color: #2A0C67; }
  main .pagination-main .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2A0C67 !important;
    border-color: #2A0C67 !important; }
  main .btn-reg {
    position: absolute;
    bottom: 10%;
    left: 50% !important;
    transform: translateX(-50%) !important; }
  main .anchor {
    display: block;
    height: 90px;
    margin-top: -90px;
    visibility: hidden; }
  main .carousel-text-seminar {
    color: white;
    background-color: rgba(42, 12, 103, 0.7);
    position: absolute;
    top: 5%;
    left: 0;
    width: 50%;
    font-size: smaller; }
    @media (max-width: 575px) {
      main .carousel-text-seminar {
        width: auto;
        top: 0;
        font-size: small; } }
    main .carousel-text-seminar .line-title {
      border-bottom: 1px solid #fff !important;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  main .owl-carousel-spikers .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; }
    main .owl-carousel-spikers .owl-item img {
      width: auto;
      max-width: 100%; }
  main .owl-carousel-spikers .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
    main .owl-carousel-spikers .owl-nav .disabled {
      background-color: transparent;
      pointer-events: none;
      opacity: .5; }
  main .owl-carousel-spikers .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 1rem; }
    main .owl-carousel-spikers .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1.3; }
      main .owl-carousel-spikers .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: transparent;
        border: 1px solid #2A0C67 !important;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px; }
    main .owl-carousel-spikers .owl-dots .owl-dot.active span {
      background: #2A0C67 !important;
      border: 1px solid #2A0C67 !important; }
    main .owl-carousel-spikers .owl-dots .owl-dot:hover span {
      background: #633cb3 !important;
      border: 1px solid #633cb3 !important; }
  main .card-main:hover {
    transition: 0.3s;
    border-color: #633cb3 !important; }
  main .card-main .card-img-box {
    transition: 0.3s;
    background-color: #fcfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 0.5rem;
    overflow: hidden; }
    main .card-main .card-img-box .card-img-top {
      width: auto;
      max-width: 100%; }
    main .card-main .card-img-box:hover {
      background-color: rgba(99, 60, 179, 0.1);
      transition: 0.3s; }
  main .card-news .card-img-box {
    background-color: rgba(99, 60, 179, 0.1);
    height: 100%; }
    @media (max-width: 991px) {
      main .card-news .card-img-box {
        height: 150px; } }
  main .badge-award {
    border-radius: 50%;
    width: 20px;
    padding: .35em .5em;
    position: absolute;
    top: 0;
    right: 0; }

footer {
  background-color: #2a0c67;
  border-top: 1px solid #889403; }
  footer .nav {
    border-bottom: 1px solid #633cb3; }
  footer .nav-link {
    color: #A9B0C3; }
    footer .nav-link:hover {
      color: #fff; }
    @media (max-width: 767px) {
      footer .nav-link {
        font-size: 0.9rem; } }
.top-arrow.top-arrow-active {
  bottom: 20px; }

.top-arrow {
  position: fixed;
  right: 20px;
  width: 40px;
  height: 40px;
  transition: 0.4s;
  opacity: 0.7;
  border: 1px solid #fff;
  background-color: #7c7b80;
  z-index: 100;
  outline: 0 !important;
  cursor: pointer; }

.top-arrow:hover {
  opacity: 1; }

.top-arrow::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.text-title-rsps {
  color: #214E6F; }

.alert-rsps {
  color: #214E6F;
  background-color: rgba(208, 48, 39, 0.1);
  border-color: rgba(208, 48, 39, 0.5); }

.wrapper-rsps-conf .navbar-main {
  background-color: #086da3;
  background-image: url(../img/bg-blue.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #086da3; }
  .wrapper-rsps-conf .navbar-main .navbar-nav .nav-link {
    padding: 1rem;
    color: #fff; }
    .wrapper-rsps-conf .navbar-main .navbar-nav .nav-link:hover {
      transition: 0.3s;
      background-color: #045594; }
      @media (max-width: 991px) {
        .wrapper-rsps-conf .navbar-main .navbar-nav .nav-link:hover {
          background-color: rgba(247, 160, 20, 0.3); } }
  .wrapper-rsps-conf .navbar-main .navbar-nav .nav-link.active {
    font-weight: bold; }

.wrapper-rsps-conf header {
  border-bottom: 1px solid #086da3; }

.wrapper-rsps-conf .header-main .line-head {
  border-bottom: 1px solid #D03027 !important; }

.wrapper-rsps-conf .header-main .contacts a {
  color: #214E6F; }
  .wrapper-rsps-conf .header-main .contacts a:hover {
    color: #214E6F;
    opacity: 0.8; }

.wrapper-rsps-conf main .line-title {
  border-bottom: 2px solid #D03027 !important; }

.wrapper-rsps-conf main .carousel-text-seminar {
  background-color: rgba(208, 48, 39, 0.7); }

.wrapper-rsps-conf main .owl-carousel .owl-dots .owl-dot span {
  border: 1px solid #086da3 !important; }

.wrapper-rsps-conf main .owl-carousel .owl-dots .owl-dot.active span {
  background: #086da3 !important;
  border: 1px solid #086da3 !important; }

.wrapper-rsps-conf main .owl-carousel .owl-dots .owl-dot:hover span {
  background: #045594 !important;
  border: 1px solid #045594 !important; }

.wrapper-rsps-conf footer {
  background-image: url(../img/bg-blue.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #086da3;
  color: #fff; }

/*# sourceMappingURL=styles.css.map */