{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <h4 class="text-purple">{{ post.title }}
                <hr class="line-title">
            </h4>
            <div class="pb-5">
                <a href="{{ request.META.HTTP_REFERER }}" class="text-sm text-nowrap"><i
                        class="bi bi-arrow-left me-1"></i>назад</a>
            </div>
            {% comment %}
                <p>Общее руководство работами по организации и проведению <strong>Всероссийского конкурса РОНКТД по неразрушающему контролю «Дефектоскопист 2021»</strong> (далее — Конкурс) осуществляет <strong>оргкомитет Конкурса.</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, rerum dolorem saepe ex tenetur aliquam blanditiis voluptate ducimus nihil at velit natus maiores placeat, est mollitia impedit, earum fugit sequi!</p>
            {% endcomment %}
            {{ post.text|safe }}
        </div>
        <div class="p-3 shadow-sm border border-light mb-4">
            {% for doc in post.get_docs %}
                <div class="mb-2">
                    <a href="{{ doc.document.url }}" target="_blank"><i class="bi bi-file-pdf me-2"></i>
                        {{ doc.title }}
                    </a>
                </div>
            {% endfor %}
            {% comment %}<div><a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Письмо об участии во Всероссийском конкурсе РОНКТД по неразрушающему контролю "Дефектоскопист 2021"</a></div>{% endcomment %}
        </div>
    </div>
</main>
{% endblock %}
