{% extends 'main/base.html' %} {% load static %} {% block content %}
<main class="py-4">
  <div class="container-xxl">
    <div class="p-3 shadow-sm border border-light mb-4">
      <h4 class="text-purple">
        {{ title }}
        <hr class="line-title" />
      </h4>
        <div class="pb-5">
            <a href="{{ request.META.HTTP_REFERER }}" class="text-sm text-nowrap"><i
                    class="bi bi-arrow-left me-1"></i>назад</a>
        </div>

      {% for doc in docs %}
          <div class="mb-2">
              <a href="{{ doc.document.url }}" target="_blank">

                  <i class="bi bi-file-pdf me-2"></i>
                    {{ doc.title }}
              </a>
          </div>    
      {% endfor %}
      
    </div>
  </div>
</main>
{% endblock %}
