{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <h4 class="text-purple">Документы
                <hr class="line-title">
            </h4>
            <div class="mb-2"><a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Положение о проведении Всероссийского конкурса «Дефектоскопист 2021»</a></div>
            <div><a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Заявка на участие в отборочном этапе</a></div>
        </div>
    </div>
</main>
{% endblock %}