{% extends 'main/base.html' %}
{% load static %}
{% block index %}
<main>
    <div id="test_callback">
        {% comment %}VUE CALLBACK{% endcomment %}
    </div>
    <div class="container-xxl p-0 px-lg-2">
    <div class="carousel carousel-main">
        <div class="carousel__slide">
            <img src="{% static 'img/Foto_89.jpg' %}">
            <div class="carousel-text p-4">
                <p class="fw-light mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo debitis nesciunt, quas perferendis dolor tenetur nam inventore, voluptatibus molestias, laboriosam, nobis. Delectus suscipit molestias, mollitia tenetur nesciunt harum modi, nostrum!</p>
                <a href="{% url 'main:news-detail' %}" class="btn btn-outline-light" role="button">Подробнее<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
        <div class="carousel__slide">
            <img src="{% static 'img/Foto_88.jpg' %}">
            <div class="carousel-text p-4">
                <p class="fw-light mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo debitis nesciunt, quas perferendis dolor tenetur nam inventore, voluptatibus molestias, laboriosam, nobis. Delectus suscipit molestias, mollitia tenetur nesciunt harum modi, nostrum!</p>
                <a href="{% url 'main:news-detail' %}" class="btn btn-outline-light" role="button">Подробнее<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
        <div class="carousel__slide">
            <img src="{% static 'img/Foto_90.jpg' %}">
            <div class="carousel-text p-4">
                <p class="fw-light mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo debitis nesciunt, quas perferendis dolor tenetur nam inventore, voluptatibus molestias, laboriosam, nobis. Delectus suscipit molestias, mollitia tenetur nesciunt harum modi, nostrum!</p>
                <a href="{% url 'main:news-detail' %}" class="btn btn-outline-light" role="button">Подробнее<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
</div>
</main>
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <h4 class="text-purple">Дефектоскопист 2021
                <hr class="line-title">
            </h4>
            <p>Всероссийский конкурс РОНКТД по неразрушающему контролю «Дефектоскопист 2021» проводится Российским
                обществом по неразрушающему контролю и технической диагностике (РОНКТД) при поддержке Ростехнадзора и
                Минпромторга России.</p>
            <h5 class="text-purple">Основными задачами Конкурса являются:</h5>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">демонстрация высокой квалификации, знаний и умений специалистов ведущих
                    организаций в области НК;</li>
                <li class="list-group-item">предоставление возможностей для профессионального роста, а также обмена
                    опытом в рамках самого значительного события года в области неразрушающего контроля на площадях VIII
                    Международного промышленного форума «Территория NDT»</li>
                <li class="list-group-item">повышение престижа и популяризация профессии специалиста неразрушающего
                    контроля (НК) (дефектоскописта), включенной в список 50 наиболее востребованных на рынке труда,
                    новых и перспективных профессий</li>
                <li class="list-group-item">гармонизация стандартов подготовки специалистов НК</li>
            </ul>
            <p class="mb-0 fw-bold">Участие в конкурсе - бесплатное</p>
        </div>
        <div class="p-3 shadow-sm border border-light mb-4">
            <p><a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Приглашение на Всероссийский конкурс
                    РОНКТД по НК "Дефектоскопист 2021</a></p>
            <a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Заявка на участие в отборочном этапе</a>
        </div>
        <div class="alert alert-purple shadow-sm mb-4">
            <h3 class="fw-light text-purple text-center">Стать участником, партнером или спонсором конкурса</h3>
            <div class="my-4">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-10 col-md-8 col-xl-6">
                        <form>
                            <div class="mb-3">
                                <label for="name1" class="form-label">Контактное лицо</label>
                                <input type="text" class="form-control" id="name1" placeholder="ФИО">
                            </div>
                            <div class="mb-3">
                                <label for="phone1" class="form-label">Телефон</label>
                                <input type="text" class="form-control" id="phone1">
                            </div>
                            <div class="mb-3">
                                <label for="email1" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email1">
                            </div>
                            <div class="mb-3">
                                <label for="comment1" class="form-label">Комментарий</label>
                                <textarea class="form-control" id="comment1" rows="3"></textarea>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="checkSogl1">
                                <label class="form-check-label" for="checkSogl1"><a href="#">Даю согласие на обработку
                                        персональных данных</a></label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary text-dark disabled" id="btnSend">Отправить заявку</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-light border border-light shadow-sm">
            {% comment %}<h4 class="fw-light text-purple">Партнеры и спонсоры</h4>{% endcomment %}
            <h4 class="fw-light text-purple">Уже с нами</h4>
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}" class="img-fluid" alt="..."></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
