{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <h4 class="text-purple">{{ title }}
                <hr class="line-title">
            </h4>
            <div class="row">
                <div class="col-lg">
                    <p class="lead">Конкурс проводится в следующих номинациях:</p>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">Визуальный и измерительный контроль (ВИК);</li>
                        <li class="list-group-item">Ультразвуковой контроль (УК);</li>
                        <li class="list-group-item">Радиационный контроль (РК);</li>
                        <li class="list-group-item">Капиллярный контроль (ПВК);</li>
                        <li class="list-group-item">Магнитный контроль (МК);</li>
                    </ul>
                </div>
                <div class="col-lg">
                    <p class="lead">и мультиноминациях (комбинация методов (видов) НК):</p>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">ВИК + УК;</li>
                        <li class="list-group-item">ВИК + РК;</li>
                        <li class="list-group-item">ВИК + ПВК + МК;</li>
                        <li class="list-group-item">ВИК + УК + РК.</li>
                    </ul>
                </div>
            </div>
            <h5 class="text-purple">Организационные вопросы</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem earum quam culpa distinctio quia
                corporis consectetur sunt quo hic harum itaque recusandae magnam facilis voluptatem animi voluptas,
                atque explicabo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem earum quam culpa distinctio quia
                corporis consectetur sunt quo hic harum itaque recusandae magnam facilis voluptatem animi voluptas,
                atque explicabo.</p>
            <h5 class="text-purple">Проведение отборочного этапа</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem earum quam culpa distinctio quia
                corporis consectetur sunt quo hic harum itaque recusandae magnam facilis voluptatem animi voluptas,
                atque explicabo.</p>
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <tr>
                        <th rowspan="2">Параметр</th>
                        <th>Номинация</th>
                        <th colspan="4">Мультиноминация</th>
                    </tr>
                    <tr>
                        <th>Один из методов:<br>ВИК, УК, РК, МК, ПВК</th>
                        <th>ВИК+УК</th>
                        <th>ВИК+РК</th>
                        <th>ВИК+РК+УК</th>
                        <th>ВИК+ПВК+МК</th>
                    </tr>
                    <tr>
                        <td>Количество вопросов</td>
                        <td>20</td>
                        <td colspan="2">40</td>
                        <td colspan="2">60</td>
                    </tr>
                    <tr>
                        <td>Время</td>
                        <td>30 мин</td>
                        <td colspan="2">1 час</td>
                        <td colspan="2">1 час 30 мин</td>
                    </tr>
                </table>
            </div>
            <h5 class="text-purple">Практическая часть</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem earum quam culpa distinctio quia
                corporis consectetur sunt quo hic harum itaque recusandae magnam facilis voluptatem animi voluptas,
                atque explicabo.</p>
            <p class="fw-bold mb-2">Модуль 1</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem earum quam culpa distinctio quia
                corporis consectetur sunt quo hic harum itaque recusandae magnam facilis voluptatem animi voluptas,
                atque explicabo.</p>
            <h5 class="text-purple">Оценка результатов конкурса</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem earum quam culpa distinctio quia
                corporis consectetur sunt quo hic harum itaque recusandae magnam facilis voluptatem animi voluptas,
                atque explicabo.</p>
        </div>
    </div>
</main>
{% endblock %}