{% extends 'main/base.html' %}
{% load static %}
{% block index %}
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <div class="d-flex justify-content-between">
                <h4 class="text-purple">Заголовок новости
                    <hr class="line-title">
                </h4>
                <a href="{% url 'main:news' %}" class="text-sm text-nowrap"><i
                        class="bi bi-arrow-left me-1"></i>назад</a>
            </div>

            <div class="mb-3">
                <small class="text-muted">21.10.2021 г.</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quod error nobis iure corporis odit
                    perferendis modi sapiente. Autem ex excepturi consequatur iusto sint non aperiam, quis ullam at
                    deleniti!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quod error nobis iure corporis odit
                    perferendis modi sapiente. Autem ex excepturi consequatur iusto sint non aperiam, quis ullam at
                    deleniti!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quod error nobis iure corporis odit
                    perferendis modi sapiente. Autem ex excepturi consequatur iusto sint non aperiam, quis ullam at
                    deleniti!</p>
            </div>
            <div id="newsCarousel" class="carousel carousel-news">
                <div class="carousel__slide" data-fancybox="gallery" data-src="{% static 'img/1.jpg' %}">
                    <img src="{% static 'img/1.jpg' %}">
                </div>
                <div class="carousel__slide" data-fancybox="gallery" data-src="{% static 'img/2.jpg' %}">
                    <img src="{% static 'img/2.jpg' %}">
                </div>
                <div class="carousel__slide" data-fancybox="gallery" data-src="{% static 'img/3.jpg' %}">
                    <img src="{% static 'img/3.jpg' %}">
                </div>
                <div class="carousel__slide" data-fancybox="gallery" data-src="{% static 'img/4.jpg' %}">
                    <img src="{% static 'img/4.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    const newsCarousel = new Carousel(document.querySelector("#newsCarousel"), {
        // preload: 2,
    });

    // Customize Fancybox
    Fancybox.bind('[data-fancybox="gallery"]', {
        Carousel: {
            on: {
                change: (that) => {
                    newsCarousel.slideTo(newsCarousel.findPageForSlide(that.page), {
                        friction: 0,
                    });
                },
            },
        },
    });
</script>
{% endblock %}