{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <h4 class="text-purple">Организаторы
                <hr class="line-title">
            </h4>
            <div class="table-responsive">
                <table class="table table-hover align-middle table-bordered">
                    <tr>
                        <th>Наименование центра СНК ОПО РОНКТД</th>
                        <th>Город</th>
                        <th>Контакты</th>
                    </tr>
                    <tr>
                        <td><a href="{% url 'main:member-detail' %}">ООО "НАКС-Архангельск"</a></td>
                        <td>Архангельск</td>
                        <td>
                            <p class="contacts text-sm mb-1"><a href="tel:+74992455656" class="text-nowrap"><i class="bi bi-telephone me-1"></i>+7(499)245-56-56</a></p>
                            <p class="contacts text-sm mb-1"><a href="mailto:info@ronktd.ru" class="text-nowrap"><i class="bi bi-envelope me-2"></i>info@ronktd.ru</a></p>
                            <p class="contacts text-sm mb-0"><a href="mailto:info@ronktd.ru" class="text-nowrap"><i class="bi bi-globe me-2"></i>http://naksarh.ru/</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'main:member-detail' %}">ООО «ГАЦ АР НАКС»</a></td>
                        <td>Барнаул</td>
                        <td>
                            <p class="contacts text-sm mb-1"><a href="tel:+74992455656" class="text-nowrap"><i class="bi bi-telephone me-1"></i>+7(499)245-56-56</a></p>
                            <p class="contacts text-sm mb-1"><a href="mailto:info@ronktd.ru" class="text-nowrap"><i class="bi bi-envelope me-2"></i>info@ronktd.ru</a></p>
                            <p class="contacts text-sm mb-0"><a href="mailto:info@ronktd.ru" class="text-nowrap"><i class="bi bi-globe me-2"></i>http://naksarh.ru/</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'main:member-detail' %}">ООО «Тихоокеанский ГАЦ»</a></td>
                        <td>Владивосток</td>
                        <td>
                            <p class="contacts text-sm mb-1"><a href="tel:+74992455656" class="text-nowrap"><i class="bi bi-telephone me-1"></i>+7(499)245-56-56</a></p>
                            <p class="contacts text-sm mb-1"><a href="mailto:info@ronktd.ru" class="text-nowrap"><i class="bi bi-envelope me-2"></i>info@ronktd.ru</a></p>
                            <p class="contacts text-sm mb-0"><a href="mailto:info@ronktd.ru" class="text-nowrap"><i class="bi bi-globe me-2"></i>http://naksarh.ru/</a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}