{% extends 'main/base.html' %}
{% load static %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% block content %}
<main class="py-0 py-lg-4">

    <div class="container-xxl" id="vue-profile-app" v-cloak>
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1 py-4">
                <div class="p-3 shadow-sm border border-light mb-4">
                    <h4 class="text-purple">{{ subtitle }}
                        <hr class="line-title">
                    </h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum odio, facilis inventore in vel accusantium dolores aliquid veniam omnis voluptatem, exercitationem, ab ea porro. Magni labore quam exercitationem aperiam porro?</p>
                </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2 vertical-menu">
                    {% include 'main/includes/menu-vertical.html' %}
            </div>

        </div>
    </div>
</main>
{% endblock %}