{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="py-4">
    <div class="container-xxl">
        <div class="p-3 shadow-sm border border-light mb-4">
            <h4 class="text-purple">Организационная структура
                <hr class="line-title">
            </h4>
            <p>Общее руководство работами по организации и проведению <strong>Всероссийского конкурса РОНКТД по неразрушающему контролю «Дефектоскопист 2021»</strong> (далее — Конкурс) осуществляет <strong>оргкомитет Конкурса.</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, rerum dolorem saepe ex tenetur aliquam blanditiis voluptate ducimus nihil at velit natus maiores placeat, est mollitia impedit, earum fugit sequi!</p>
        </div>
        <div class="p-3 shadow-sm border border-light mb-4">
            <div class="mb-2"><a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Приказ о составе Организационного комитета Всероссийского конкурса специалистов по НК «Дефектоскопист 2021»</a></div>
            <div><a href="#" target="_blank"><i class="bi bi-file-pdf me-2"></i>Письмо об участии во Всероссийском конкурсе РОНКТД по неразрушающему контролю "Дефектоскопист 2021"</a></div>
        </div>
    </div>
</main>
{% endblock %}