{% load static %}
<footer class="mt-auto">
    <div class="container-xxl">
        <div class="py-3 my-4">
            <ul class="nav justify-content-center pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'main:index' %}" class="nav-link px-2">Главная</a></li>
                <li class="nav-item">

                    {% if request.user.can_see_miracles %}
                        <a href="{% url 'main:news' %}" class="nav-link px-2">Новости</a>
                    {% endif %}

                </li>
                {% comment %} <li class="nav-item"><a href="{% url 'main:about' %}" class="nav-link px-2">О&nbsp;конкурсе</a></li> {% endcomment %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">О&nbsp;конкурсе</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'main:about-structure' %}">Организационная структура</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:about-docs' %}">Документы</a></li>
                            {% if request.user.can_see_miracles %}
                                <li><a class="dropdown-item" href="{% url 'main:stages' %}">Отборочные этапы</a></li>
                                <li><a class="dropdown-item" href="{% url 'main:final-stage' %}">Финальный этап</a></li>
                                <li><a class="dropdown-item" href="{% url 'main:memb-info' %}">Участникам</a></li>
                                <li><a class="dropdown-item" href="{% url 'main:spon-info' %}">Спонсорам</a></li>
                            {% endif %}
                        </ul>
                    </li>
                
                            {% if request.user.can_see_miracles %}
                                <li class="nav-item"><a href="{% url 'main:gallery' %}" class="nav-link px-2">Галерея</a></li>
                                <li class="nav-item"><a href="{% url 'main:members' %}" class="nav-link px-2">Участники</a></li>
                            {% endif %}
                                <li class="nav-item"><a href="{% url 'main:about-competition-organizers' %}" class="nav-link px-2">Организаторы</a></li>
                
                            {% if request.user.can_see_miracles %}
                                <li class="nav-item"><a href="{% url 'main:sponsorship' %}" class="nav-link px-2">Партнеры и Спонсоры</a></li>
                            {% endif %}
                {% if request.user.can_see_miracles %}
                    <li class="nav-item"><a href="{% url 'main:contacts' %}" class="nav-link px-2">Контакты</a></li>
                {% endif %}
            </ul>
            <p class="text-center text-muted">© 2022, НАКС</p>
        </div>
    </div>
</footer>
