{% load static %}
<nav class="nav nav-right-main flex-row flex-lg-column">
    <a class="nav-link {% if 'profile' in request.path %}active{% endif %}" href="{% url 'main:profile' %}">Мой профиль</a>
    <a class="nav-link" href="#">Пункт меню</a>
    <a class="nav-link" href="#">Пункт меню</a>
    <a class="nav-link" href="#"><i class="bi bi-box-arrow-left me-1"></i>Выйти</a>
    {% comment %} {% if user.is_staff %}
        <a href="/admin/" class="nav-link text-warning" target="_blank">admin_panel</a>
    {% endif %} {% endcomment %}
</nav>

