{% load static %}
<nav class="navbar navbar-main navbar-expand-xl shadow">
    <div class="container-xxl">
        <div class="contacts d-xl-none">
            <a href="tel:+74992455656" class="me-3"><i class="bi bi-telephone me-1"></i>+7(499)245-56-56</a>
            <a href="mailto:info@ronktd.ru"><i class="bi bi-envelope me-1"></i>info@ronktd.ru</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-main offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
                <a href="#" data-bs-dismiss="offcanvas" class="text-reset" aria-label="Close"><i class="bi bi-x-lg"></i></a>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' or request.path == '/main/' %}active{% endif %}" href="{% url 'main:index' %}">О семинаре</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'news' in request.path or 'news-detail' in request.path %}active{% endif %}" href="{% url 'main:news' %}">Документы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'contacts' in request.path %}active{% endif %}" href="{% url 'main:contacts' %}">Стать участником</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'contacts' in request.path %}active{% endif %}" href="{% url 'main:contacts' %}">Организаторы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>