{% load static %}
<div class="alert alert-light border border-light shadow-sm">
            {% comment %}<h4 class="fw-light text-purple">Партнеры и спонсоры</h4>{% endcomment %}
            <div class="anchor" id="block_06"></div>
            <h4 class="fw-light text-purple">Спикеры
                <hr class="line-title">
            </h4>
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid"
                                alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}"
                                class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/ronktd_logo.svg' %}" class="img-fluid"
                                alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid"
                                alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}"
                                class="img-fluid" alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/ronktd_logo.svg' %}" class="img-fluid"
                                alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo.png' %}" class="img-fluid"
                                alt="..."></div>
                        <div class="owl-item border p-4"><img src="{% static 'img/logo-naks-media.png' %}"
                                class="img-fluid" alt="..."></div>
                    </div>
                </div>
            </div>
        </div>